*,
::after,
::before {
    box-sizing: border-box;
}
:not(input):not(textarea) {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(170, 170, 170, 0.5);
}
.header {
    background-color: rgb(255, 255, 255);
    transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
    position: relative;
    z-index: 35;
}
.lr-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.lr-container::before,
.lr-container::after {
    content: " ";
    display: table;
    width: 0px;
}
.lr-container::after {
    clear: both;
}
.header-container {
    padding: 0px;
    margin: 0px auto;
    position: relative;
    z-index: 35;
    background-color: rgb(255, 255, 255);
    min-height: 0px;
    transition: min-height 0.2s ease 0s;
}
body.is-desktop .header-container {
    padding: 13px 0px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-fit,
.flex--fit {
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.flex-middle,
.flex--middle {
    -webkit-box-align: center;
    align-items: center;
}
.header-logo {
    width: 120px;
    padding: 10px;
}
a {
    color: inherit;
    text-decoration: none;
}
a:active,
a:focus,
a:hover {
    outline: none;
}
img {
    border: 0px;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.header-logo-img {
    display: block;
    width: 200px;
}
.header-icon {
    margin-top: 15px;
}
.header-icon-container {
    position: relative;
    display: block;
    width: 48px;
    text-align: center;
    float: left;
}
.lr-icon {
    display: inline-block;
    vertical-align: middle;
}
.lr-icon::before {
    display: inline-block;
}
.lr-icon-newsletter::before {
    content: url("data:image/svg+xml,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.143 3c1.855 0 3.352 1.548 3.352 3.455v4.76l1.792.626c1.317.358 2.303 1.715 2.315 3.212v9.992a3.457 3.457 0 01-3.454 3.455H6.455A3.457 3.457 0 013 25.045V14.95c0-1.433.896-2.687 2.29-3.198l1.612-.538v-4.76A3.457 3.457 0 0110.357 3zm5.758 11.195l-10.774 6.206a.771.771 0 01-.37.102.815.815 0 01-.346-.09L4.523 14.772c-.013.064-.013.115-.013.18v10.094c0 1.088.857 1.945 1.945 1.945h18.693a1.928 1.928 0 001.945-1.945h.012v-9.992c0-.295-.076-.602-.204-.858zM21.156 4.51H10.357a1.93 1.93 0 00-1.958 1.945v4.094h.013l.039 4.53 7.293 3.812 7.267-4.184V6.455c0-1.05-.857-1.945-1.855-1.945zM7.005 12.75l-1.216.41c-.204.076-.384.178-.55.293l1.766.909V12.75zm17.49.05v1.037l1.126-.64-1.126-.396zm-4.747-1.112c.423 0 .755.345.755.755a.756.756 0 01-.755.754h-7.996a.756.756 0 01-.755-.754c0-.423.345-.755.755-.755zm0-3.992c.423 0 .755.345.755.755a.756.756 0 01-.755.754h-7.996a.756.756 0 01-.755-.754c0-.423.345-.755.755-.755z' fill='%23191919' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.lr-icon-add::before,
.lr-icon-add-big::before,
.lr-icon-add-small::before,
.lr-icon-agenda::before,
.lr-icon-back::before,
.lr-icon-box::before,
.lr-icon-basket::before,
.lr-icon-basket--grey::before,
.lr-icon-cancel-order::before,
.lr-icon-catalogue::before,
.lr-icon-certificate::before,
.lr-icon-certificate--black::before,
.lr-icon-check::before,
.lr-icon-check--success::before,
.lr-icon-check--white::before,
.lr-icon-check-resized--success::before,
.lr-icon-chevron-big-bottom::before,
.lr-icon-chevron-big-left::before,
.lr-icon-chevron-big-right::before,
.lr-icon-chevron-big-top::before,
.lr-icon-chevron-small-bottom::before,
.lr-icon-chevron-small-left::before,
.lr-icon-chevron-small-right::before,
.lr-icon-chevron-small-top::before,
.lr-icon-clickandcollect::before,
.lr-icon-clock::before,
.lr-icon-clock-success::before,
.lr-icon-cross-big::before,
.lr-icon-cross-small::before,
.lr-icon-cross-small-success::before,
.lr-icon-cross-small-white::before,
.lr-icon-delivery::before,
.lr-icon-delivery-white::before,
.lr-icon-delivery--grey::before,
.lr-icon-deliveryPlus::before,
.lr-icon-deliveryLrAndMe::before,
.lr-icon-external::before,
.lr-icon-facebook::before,
.lr-icon-furniture::before,
.lr-icon-info::before,
.lr-icon-info--infoColor::before,
.lr-icon-info--warningColor::before,
.lr-icon-instagram::before,
.lr-icon-lrandme-black::before,
.lr-icon-lrandme-color::before,
.lr-icon-newsletter::before,
.lr-icon-ok::before,
.lr-icon-paperbarcode::before,
.lr-icon-pdf::before,
.lr-icon-phone::before,
.lr-icon-phoneqr::before,
.lr-icon-pinterest::before,
.lr-icon-price::before,
.lr-icon-recover::before,
.lr-icon-recycle::before,
.lr-icon-redoute::before,
.lr-icon-reduction::before,
.lr-icon-remove-big::before,
.lr-icon-remove-small::before,
.lr-icon-return::before,
.lr-icon-search::before,
.lr-icon-share-android::before,
.lr-icon-share-ios::before,
.lr-icon-twitter::before,
.lr-icon-user::before,
.lr-icon-vendor-delivery-delay::before,
.lr-icon-vendor-delivery-fee::before,
.lr-icon-vendor-free-return::before,
.lr-icon-vendor-guaranty::before,
.lr-icon-vendor-location::before,
.lr-icon-vendor-name::before,
.lr-icon-vk::before,
.lr-icon-warning::before,
.lr-icon-warning--errorColor::before,
.lr-icon-warning--infoColor::before,
.lr-icon-warning--warningColor::before,
.lr-icon-wishlist-border::before,
.lr-icon-wishlist-black::before,
.lr-icon-youtube::before,
.lr-icon-zoom::before {
    width: 32px;
    height: 32px;
}
.header-icon-container .lr-icon {
    padding: 0px 0px 17px;
}
.picto-header-text {
    width: 100%;
    max-width: 80px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    text-align: center;
    line-height: initial;
    font-size: 12px;
    margin-bottom: -15px;
}
b,
strong {
    font-weight: 600;
}
.header-icon-container .tooltip-wrapper {
    top: 105%;
    right: 14px;
}
.tooltip-wrapper {
    position: absolute;
    z-index: 39;
    right: 0px;
    top: 100%;
    display: none;
    padding-top: 20px;
}
.tooltip-basket,
.tooltip-login,
.tooltip-lrandme,
.tooltip-newsletter,
.tooltip-wishlist {
    margin-top: -13px;
    width: 320px;
}
.tooltip-lrandme,
.tooltip-newsletter {
    text-align: left;
}
.tooltip {
    position: relative;
    display: none;
    background: rgb(214, 235, 252);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    padding: 15px;
}
.tooltip::before,
.tooltip::after {
    content: "";
    position: absolute;
    right: 10px;
    height: 0px;
    border-style: solid;
    border-width: 0px 14px 14px;
}
.tooltip::before {
    z-index: 99;
    top: -13px;
    border-color: transparent transparent rgb(159, 159, 159);
}
.tooltip::after {
    z-index: 98;
    top: -15px;
    border-color: transparent transparent rgb(255, 255, 255);
}
.tooltip {
}
.tooltip-white {
    background-color: rgb(255, 255, 255);
}
.tooltip-white::before {
    border-color: transparent transparent rgb(255, 255, 255);
}
.tooltip-border-grey {
    border-color: rgb(159, 159, 159);
}
.tooltip-border-grey::after {
    border-color: transparent transparent rgb(159, 159, 159);
}
.tooltip-squared {
    border-radius: 0px;
}
.tooltip-thick {
    padding: 30px;
}
button,
input,
optgroup,
select,
textarea {
    border-radius: 0px;
    color: inherit;
    font: inherit;
    margin: 0px;
    outline: 0px;
    appearance: none;
}
button {
    background-color: transparent;
    border: 0px;
    overflow: visible;
}
button:focus {
    outline: 0px;
    outline-offset: 0px;
}
button,
select {
    text-transform: none;
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.lr-icon-user::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='-2 -5 32 32'%3E%3Cpath fill='%23191919' fill-rule='evenodd' d='M16.72 6.49c0-2.772-2.016-4.99-4.467-4.99-2.45 0-4.468 2.218-4.468 4.99 0 2.77 2.018 4.988 4.468 4.988S16.72 9.26 16.72 6.49zm1.5 0c0 3.568-2.654 6.488-5.967 6.488-3.312 0-5.968-2.92-5.968-6.489S8.941 0 12.253 0c3.313 0 5.967 2.92 5.967 6.49zM1.52 24.656a.75.75 0 0 1-1.489.186 3.048 3.048 0 0 1-.014-.164c-.09-1.33.192-2.942 1.166-4.5 1.779-2.846 5.35-4.527 11.07-4.527 5.722 0 9.293 1.68 11.072 4.527.974 1.558 1.256 3.17 1.166 4.5-.005.074-.01.129-.015.164a.75.75 0 1 1-1.488-.186l.006-.08a5.765 5.765 0 0 0-.086-1.353 6.255 6.255 0 0 0-.855-2.25c-1.483-2.372-4.563-3.822-9.8-3.822-5.235 0-8.316 1.45-9.798 3.822a6.255 6.255 0 0 0-.855 2.25 5.765 5.765 0 0 0-.08 1.433z'/%3E%3C/svg%3E");
}
.lr-icon-wishlist-border::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='-1 -4 32 32'%3E%3Cpath fill='%23191919' fill-rule='evenodd' d='M17.492 22.844a41.416 41.416 0 0 0 4.74-3.312c4.13-3.366 6.568-6.905 6.568-10.402a7.274 7.274 0 0 0-2.206-5.21 7.602 7.602 0 0 0-5.336-2.17 7.68 7.68 0 0 0-3.043.626 7.536 7.536 0 0 0-2.517 1.767.75.75 0 0 1-1.096 0 7.524 7.524 0 0 0-2.516-1.767 7.68 7.68 0 0 0-3.043-.626c-2.028 0-3.93.79-5.337 2.17A7.274 7.274 0 0 0 1.5 9.13c0 3.19 2.44 6.667 6.565 10.132a47.057 47.057 0 0 0 4.744 3.475c.989.638 1.753 1.09 2.343 1.417a36.143 36.143 0 0 0 2.34-1.31zM17.62 1A9.18 9.18 0 0 1 21.258.25c2.422 0 4.7.946 6.386 2.599A8.774 8.774 0 0 1 30.3 9.13c0 4.059-2.675 7.94-7.12 11.565a42.894 42.894 0 0 1-4.913 3.434c-1.06.64-1.943 1.119-2.503 1.397l-.145.072-.147.073a.75.75 0 0 1-.692-.012l-.146-.079-.149-.08a42.787 42.787 0 0 1-2.489-1.502A48.533 48.533 0 0 1 7.1 20.41C2.666 16.685 0 12.887 0 9.13c0-2.386.968-4.625 2.656-6.281A9.099 9.099 0 0 1 9.043.25a9.18 9.18 0 0 1 3.637.749c.906.39 1.74.925 2.47 1.582A9.064 9.064 0 0 1 17.62.999z'/%3E%3C/svg%3E");
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: rgb(119, 119, 119);
    border-radius: 10px;
}
.badge:empty {
    display: none;
}
.header-icon-container .badge {
    position: absolute;
    top: -5px;
    right: 2px;
    width: 18px;
    height: 18px;
    padding: 0px;
    background-color: rgb(221, 50, 81);
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
}
.hidden {
    display: none !important;
}
.text-left {
    text-align: left;
}
.tooltip-wishlist .text-left {
    font-weight: 600 !important;
}
.lr-icon-basket::before {
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.598 24.03L25.15 13.693c-.154-1.16-1.137-1.962-2.373-1.962h-.708V8.366c0-1.259-.414-2.203-1.185-3.11C20.24 4.496 18.97 3 16.065 3c-3.107 0-4.91 1.364-5.486 2.256-.604.88-.899 1.899-.899 3.11v3.365h-.82c-1.208 0-2.205.777-2.374 1.86L5.053 24.004c-.196 1.11.155 2.244.97 3.11.814.867 2.008 1.377 3.272 1.377h13.047c1.208 0 2.318-.446 3.132-1.275a3.922 3.922 0 0 0 1.124-3.186zM11.126 13.235v.736l.001 3.323a.753.753 0 1 1-1.507 0l-.001-.247v-3.812h1.507zm10.941 0v4.059a.753.753 0 1 1-1.507 0v-4.059l.753-.001h.754zm-5.89-8.731c2.58.09 4.532 1.86 4.419 4.066v3.122c-1.387-.038-4.08-.012-9.516.026V8.366h-.016c0-.918.242-1.683.758-2.32.549-.714 1.662-1.542 3.887-1.542h.468zm6.731 8.73c.4 0 .685.255.742.65l1.457 10.324a2.442 2.442 0 0 1-.714 2.014c-.5.497-1.185.778-1.928.778H9.185c-.785 0-1.528-.306-2.042-.842-.5-.522-.728-1.223-.6-1.924L8 13.808c.057-.319.357-.56.743-.56-.029-.013 14.165-.013 14.165-.013z' fill='%23191919' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.flex-col-12 {
    width: 100%;
}
.header-sticky {
    position: relative;
    border-bottom: thin solid rgb(241, 241, 241);
    border-top: thin solid rgb(241, 241, 241);
    background-color: rgb(255, 255, 255);
    transition: all 0.2s ease 0s;
    left: 0px;
    right: 0px;
    top: 0px;
    transform: translateY(0px);
    padding-left: 40px;
}
.header-sticky .lr-icon-back-arrow {
    position: absolute;
    left: 8px;
    top: 5px;
    cursor: pointer;
    z-index: 1000;
}
.header-sticky .lr-icon-back-arrow::before {
    content: url("data:image/svg+xml,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.28 10.22a.75.75 0 010 1.06L9.558 15h13.846a.75.75 0 01.743.648l.007.102a.75.75 0 01-.75.75H9.562l3.718 3.72a.75.75 0 11-1.06 1.06l-5-5.002a.75.75 0 010-1.06l5-4.998a.75.75 0 011.06 0z' fill='%23191919' fill-rule='evenodd'/%3E%3C/svg%3E");
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.header-sticky .block-search {
    transition: width 0.2s ease 0s, padding 0.2s ease 0s;
}
.block-search {
    position: relative;
    width: 100%;
}
.block-search-input {
    width: 100%;
    height: 40px;
    padding: 6px 90px 6px 8px;
    border-radius: 0px;
    border-width: 0px 0px 0px 1px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-image: initial;
    border-left-style: solid;
    border-left-color: rgb(241, 241, 241);
    box-shadow: none;
    animation: 0.4s ease 0s 1 normal none running border;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 600;
    line-height: 1;
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    opacity: 0.2;
}
.close:hover,
.close:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
}
button.close {
    padding: 0px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    appearance: none;
}
.close {
    width: 31px;
    height: 31px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 15px;
    text-align: center;
    opacity: 1;
}
.close:focus,
.close:hover {
    opacity: 1;
    outline: 0px;
    outline-offset: 0px;
}
.close::after,
.close::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 8px;
    background-color: rgb(0, 0, 0);
    width: 15px;
    height: 1px;
}
.close::before {
    transform: rotate(45deg);
}
.close::after {
    transform: rotate(-45deg);
}
.block-search-remove {
    top: 5px;
    right: 64px;
}
.lr-icon-search::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23191919' fill-rule='evenodd' d='M28.27 27.2l-6.578-6.21a10.725 10.725 0 0 0 2.817-7.242C24.51 7.82 19.69 3 13.761 3 7.82 3 3 7.82 3 13.748c0 5.929 4.82 10.749 10.748 10.749 2.601 0 4.986-.931 6.847-2.461l6.643 6.26c.14.14.331.204.51.204a.762.762 0 0 0 .548-.23.774.774 0 0 0-.026-1.07zM4.505 13.748c0-5.1 4.143-9.243 9.243-9.243 5.1 0 9.244 4.143 9.244 9.243 0 5.1-4.144 9.244-9.244 9.244s-9.243-4.144-9.243-9.244z'/%3E%3C/svg%3E");
}
.block-search-validate {
    right: 4px;
    top: 4px;
    min-width: 52px;
    height: 36px;
    cursor: pointer;
    position: absolute !important;
}
.block-search-suggestion {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 32px 8px 0px 0px;
}
ol,
ul {
    list-style: none;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
}
.block-search-suggestion ul {
    min-width: 70%;
    padding: 0px 0px 48px;
}
.block-search-suggestion ul + ul {
    margin: 16px 0px 0px;
}
*,
::after,
::before {
    box-sizing: border-box;
}
:not(input):not(textarea) {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(170, 170, 170, 0.5);
}
.header {
    background-color: rgb(255, 255, 255);
    transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
    position: relative;
    z-index: 35;
}
.lr-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.lr-container::before,
.lr-container::after {
    content: " ";
    display: table;
    width: 0px;
}
.lr-container::after {
    clear: both;
}
.header-container {
    padding: 0px;
    margin: 0px auto;
    position: relative;
    z-index: 35;
    background-color: rgb(255, 255, 255);
    min-height: 0px;
    transition: min-height 0.2s ease 0s;
}
body.is-desktop .header-container {
    padding: 13px 0px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-fit,
.flex--fit {
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.flex-middle,
.flex--middle {
    -webkit-box-align: center;
    align-items: center;
}
.header-logo {
    width: 120px;
    padding: 10px;
}
a {
    color: inherit;
    text-decoration: none;
}
a:active,
a:focus,
a:hover {
    outline: none;
}
img {
    border: 0px;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.header-logo-img {
    display: block;
    width: 200px;
}
.header-icon {
    margin-top: 15px;
}
.header-icon-container {
    position: relative;
    display: block;
    width: 48px;
    text-align: center;
    float: left;
}
.lr-icon {
    display: inline-block;
    vertical-align: middle;
}
.lr-icon::before {
    display: inline-block;
}
.lr-icon-newsletter::before {
    content: url("data:image/svg+xml,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.143 3c1.855 0 3.352 1.548 3.352 3.455v4.76l1.792.626c1.317.358 2.303 1.715 2.315 3.212v9.992a3.457 3.457 0 01-3.454 3.455H6.455A3.457 3.457 0 013 25.045V14.95c0-1.433.896-2.687 2.29-3.198l1.612-.538v-4.76A3.457 3.457 0 0110.357 3zm5.758 11.195l-10.774 6.206a.771.771 0 01-.37.102.815.815 0 01-.346-.09L4.523 14.772c-.013.064-.013.115-.013.18v10.094c0 1.088.857 1.945 1.945 1.945h18.693a1.928 1.928 0 001.945-1.945h.012v-9.992c0-.295-.076-.602-.204-.858zM21.156 4.51H10.357a1.93 1.93 0 00-1.958 1.945v4.094h.013l.039 4.53 7.293 3.812 7.267-4.184V6.455c0-1.05-.857-1.945-1.855-1.945zM7.005 12.75l-1.216.41c-.204.076-.384.178-.55.293l1.766.909V12.75zm17.49.05v1.037l1.126-.64-1.126-.396zm-4.747-1.112c.423 0 .755.345.755.755a.756.756 0 01-.755.754h-7.996a.756.756 0 01-.755-.754c0-.423.345-.755.755-.755zm0-3.992c.423 0 .755.345.755.755a.756.756 0 01-.755.754h-7.996a.756.756 0 01-.755-.754c0-.423.345-.755.755-.755z' fill='%23191919' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.lr-icon-add::before,
.lr-icon-add-big::before,
.lr-icon-add-small::before,
.lr-icon-agenda::before,
.lr-icon-back::before,
.lr-icon-box::before,
.lr-icon-basket::before,
.lr-icon-basket--grey::before,
.lr-icon-cancel-order::before,
.lr-icon-catalogue::before,
.lr-icon-certificate::before,
.lr-icon-certificate--black::before,
.lr-icon-check::before,
.lr-icon-check--success::before,
.lr-icon-check--white::before,
.lr-icon-check-resized--success::before,
.lr-icon-chevron-big-bottom::before,
.lr-icon-chevron-big-left::before,
.lr-icon-chevron-big-right::before,
.lr-icon-chevron-big-top::before,
.lr-icon-chevron-small-bottom::before,
.lr-icon-chevron-small-left::before,
.lr-icon-chevron-small-right::before,
.lr-icon-chevron-small-top::before,
.lr-icon-clickandcollect::before,
.lr-icon-clock::before,
.lr-icon-clock-success::before,
.lr-icon-cross-big::before,
.lr-icon-cross-small::before,
.lr-icon-cross-small-success::before,
.lr-icon-cross-small-white::before,
.lr-icon-delivery::before,
.lr-icon-delivery-white::before,
.lr-icon-delivery--grey::before,
.lr-icon-deliveryPlus::before,
.lr-icon-deliveryLrAndMe::before,
.lr-icon-external::before,
.lr-icon-facebook::before,
.lr-icon-furniture::before,
.lr-icon-info::before,
.lr-icon-info--infoColor::before,
.lr-icon-info--warningColor::before,
.lr-icon-instagram::before,
.lr-icon-lrandme-black::before,
.lr-icon-lrandme-color::before,
.lr-icon-newsletter::before,
.lr-icon-ok::before,
.lr-icon-paperbarcode::before,
.lr-icon-pdf::before,
.lr-icon-phone::before,
.lr-icon-phoneqr::before,
.lr-icon-pinterest::before,
.lr-icon-price::before,
.lr-icon-recover::before,
.lr-icon-recycle::before,
.lr-icon-redoute::before,
.lr-icon-reduction::before,
.lr-icon-remove-big::before,
.lr-icon-remove-small::before,
.lr-icon-return::before,
.lr-icon-search::before,
.lr-icon-share-android::before,
.lr-icon-share-ios::before,
.lr-icon-twitter::before,
.lr-icon-user::before,
.lr-icon-vendor-delivery-delay::before,
.lr-icon-vendor-delivery-fee::before,
.lr-icon-vendor-free-return::before,
.lr-icon-vendor-guaranty::before,
.lr-icon-vendor-location::before,
.lr-icon-vendor-name::before,
.lr-icon-vk::before,
.lr-icon-warning::before,
.lr-icon-warning--errorColor::before,
.lr-icon-warning--infoColor::before,
.lr-icon-warning--warningColor::before,
.lr-icon-wishlist-border::before,
.lr-icon-wishlist-black::before,
.lr-icon-youtube::before,
.lr-icon-zoom::before {
    width: 32px;
    height: 32px;
}
.header-icon-container .lr-icon {
    padding: 0px 0px 17px;
}
.picto-header-text {
    width: 100%;
    max-width: 80px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    text-align: center;
    line-height: initial;
    font-size: 12px;
    margin-bottom: -15px;
}
b,
strong {
    font-weight: 600;
}
.header-icon-container .tooltip-wrapper {
    top: 105%;
    right: 14px;
}
.tooltip-wrapper {
    position: absolute;
    z-index: 39;
    right: 0px;
    top: 100%;
    display: none;
    padding-top: 20px;
}
.tooltip-basket,
.tooltip-login,
.tooltip-lrandme,
.tooltip-newsletter,
.tooltip-wishlist {
    margin-top: -13px;
    width: 320px;
}
.tooltip-lrandme,
.tooltip-newsletter {
    text-align: left;
}
.tooltip {
    position: relative;
    display: none;
    background: rgb(214, 235, 252);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    padding: 15px;
}
.tooltip::before,
.tooltip::after {
    content: "";
    position: absolute;
    right: 10px;
    height: 0px;
    border-style: solid;
    border-width: 0px 14px 14px;
}
.tooltip::before {
    z-index: 99;
    top: -13px;
    border-color: transparent transparent rgb(159, 159, 159);
}
.tooltip::after {
    z-index: 98;
    top: -15px;
    border-color: transparent transparent rgb(255, 255, 255);
}
.tooltip {
}
.tooltip-white {
    background-color: rgb(255, 255, 255);
}
.tooltip-white::before {
    border-color: transparent transparent rgb(255, 255, 255);
}
.tooltip-border-grey {
    border-color: rgb(159, 159, 159);
}
.tooltip-border-grey::after {
    border-color: transparent transparent rgb(159, 159, 159);
}
.tooltip-squared {
    border-radius: 0px;
}
.tooltip-thick {
    padding: 30px;
}
button,
input,
optgroup,
select,
textarea {
    border-radius: 0px;
    color: inherit;
    font: inherit;
    margin: 0px;
    outline: 0px;
    appearance: none;
}
button {
    background-color: transparent;
    border: 0px;
    overflow: visible;
}
button:focus {
    outline: 0px;
    outline-offset: 0px;
}
button,
select {
    text-transform: none;
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.lr-icon-user::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='-2 -5 32 32'%3E%3Cpath fill='%23191919' fill-rule='evenodd' d='M16.72 6.49c0-2.772-2.016-4.99-4.467-4.99-2.45 0-4.468 2.218-4.468 4.99 0 2.77 2.018 4.988 4.468 4.988S16.72 9.26 16.72 6.49zm1.5 0c0 3.568-2.654 6.488-5.967 6.488-3.312 0-5.968-2.92-5.968-6.489S8.941 0 12.253 0c3.313 0 5.967 2.92 5.967 6.49zM1.52 24.656a.75.75 0 0 1-1.489.186 3.048 3.048 0 0 1-.014-.164c-.09-1.33.192-2.942 1.166-4.5 1.779-2.846 5.35-4.527 11.07-4.527 5.722 0 9.293 1.68 11.072 4.527.974 1.558 1.256 3.17 1.166 4.5-.005.074-.01.129-.015.164a.75.75 0 1 1-1.488-.186l.006-.08a5.765 5.765 0 0 0-.086-1.353 6.255 6.255 0 0 0-.855-2.25c-1.483-2.372-4.563-3.822-9.8-3.822-5.235 0-8.316 1.45-9.798 3.822a6.255 6.255 0 0 0-.855 2.25 5.765 5.765 0 0 0-.08 1.433z'/%3E%3C/svg%3E");
}
.lr-icon-wishlist-border::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='-1 -4 32 32'%3E%3Cpath fill='%23191919' fill-rule='evenodd' d='M17.492 22.844a41.416 41.416 0 0 0 4.74-3.312c4.13-3.366 6.568-6.905 6.568-10.402a7.274 7.274 0 0 0-2.206-5.21 7.602 7.602 0 0 0-5.336-2.17 7.68 7.68 0 0 0-3.043.626 7.536 7.536 0 0 0-2.517 1.767.75.75 0 0 1-1.096 0 7.524 7.524 0 0 0-2.516-1.767 7.68 7.68 0 0 0-3.043-.626c-2.028 0-3.93.79-5.337 2.17A7.274 7.274 0 0 0 1.5 9.13c0 3.19 2.44 6.667 6.565 10.132a47.057 47.057 0 0 0 4.744 3.475c.989.638 1.753 1.09 2.343 1.417a36.143 36.143 0 0 0 2.34-1.31zM17.62 1A9.18 9.18 0 0 1 21.258.25c2.422 0 4.7.946 6.386 2.599A8.774 8.774 0 0 1 30.3 9.13c0 4.059-2.675 7.94-7.12 11.565a42.894 42.894 0 0 1-4.913 3.434c-1.06.64-1.943 1.119-2.503 1.397l-.145.072-.147.073a.75.75 0 0 1-.692-.012l-.146-.079-.149-.08a42.787 42.787 0 0 1-2.489-1.502A48.533 48.533 0 0 1 7.1 20.41C2.666 16.685 0 12.887 0 9.13c0-2.386.968-4.625 2.656-6.281A9.099 9.099 0 0 1 9.043.25a9.18 9.18 0 0 1 3.637.749c.906.39 1.74.925 2.47 1.582A9.064 9.064 0 0 1 17.62.999z'/%3E%3C/svg%3E");
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: rgb(119, 119, 119);
    border-radius: 10px;
}
.badge:empty {
    display: none;
}
.header-icon-container .badge {
    position: absolute;
    top: -5px;
    right: 2px;
    width: 18px;
    height: 18px;
    padding: 0px;
    background-color: rgb(221, 50, 81);
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
}
.hidden {
    display: none !important;
}
.text-left {
    text-align: left;
}
.tooltip-wishlist .text-left {
    font-weight: 600 !important;
}
.lr-icon-basket::before {
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.598 24.03L25.15 13.693c-.154-1.16-1.137-1.962-2.373-1.962h-.708V8.366c0-1.259-.414-2.203-1.185-3.11C20.24 4.496 18.97 3 16.065 3c-3.107 0-4.91 1.364-5.486 2.256-.604.88-.899 1.899-.899 3.11v3.365h-.82c-1.208 0-2.205.777-2.374 1.86L5.053 24.004c-.196 1.11.155 2.244.97 3.11.814.867 2.008 1.377 3.272 1.377h13.047c1.208 0 2.318-.446 3.132-1.275a3.922 3.922 0 0 0 1.124-3.186zM11.126 13.235v.736l.001 3.323a.753.753 0 1 1-1.507 0l-.001-.247v-3.812h1.507zm10.941 0v4.059a.753.753 0 1 1-1.507 0v-4.059l.753-.001h.754zm-5.89-8.731c2.58.09 4.532 1.86 4.419 4.066v3.122c-1.387-.038-4.08-.012-9.516.026V8.366h-.016c0-.918.242-1.683.758-2.32.549-.714 1.662-1.542 3.887-1.542h.468zm6.731 8.73c.4 0 .685.255.742.65l1.457 10.324a2.442 2.442 0 0 1-.714 2.014c-.5.497-1.185.778-1.928.778H9.185c-.785 0-1.528-.306-2.042-.842-.5-.522-.728-1.223-.6-1.924L8 13.808c.057-.319.357-.56.743-.56-.029-.013 14.165-.013 14.165-.013z' fill='%23191919' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.flex-col-12 {
    width: 100%;
}
.header-sticky {
    position: relative;
    border-bottom: thin solid rgb(241, 241, 241);
    border-top: thin solid rgb(241, 241, 241);
    background-color: rgb(255, 255, 255);
    transition: all 0.2s ease 0s;
    left: 0px;
    right: 0px;
    top: 0px;
    transform: translateY(0px);
    padding-left: 40px;
}
.header-sticky .lr-icon-back-arrow {
    position: absolute;
    left: 8px;
    top: 5px;
    cursor: pointer;
    z-index: 1000;
}
.header-sticky .lr-icon-back-arrow::before {
    content: url("data:image/svg+xml,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.28 10.22a.75.75 0 010 1.06L9.558 15h13.846a.75.75 0 01.743.648l.007.102a.75.75 0 01-.75.75H9.562l3.718 3.72a.75.75 0 11-1.06 1.06l-5-5.002a.75.75 0 010-1.06l5-4.998a.75.75 0 011.06 0z' fill='%23191919' fill-rule='evenodd'/%3E%3C/svg%3E");
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.header-sticky .block-search {
    transition: width 0.2s ease 0s, padding 0.2s ease 0s;
}
.block-search {
    position: relative;
    width: 100%;
}
.block-search-input {
    width: 100%;
    height: 40px;
    padding: 6px 90px 6px 8px;
    border-radius: 0px;
    border-width: 0px 0px 0px 1px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-image: initial;
    border-left-style: solid;
    border-left-color: rgb(241, 241, 241);
    box-shadow: none;
    animation: 0.4s ease 0s 1 normal none running border;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 600;
    line-height: 1;
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    opacity: 0.2;
}
.close:hover,
.close:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
}
button.close {
    padding: 0px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    appearance: none;
}
.close {
    width: 31px;
    height: 31px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 15px;
    text-align: center;
    opacity: 1;
}
.close:focus,
.close:hover {
    opacity: 1;
    outline: 0px;
    outline-offset: 0px;
}
.close::after,
.close::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 8px;
    background-color: rgb(0, 0, 0);
    width: 15px;
    height: 1px;
}
.close::before {
    transform: rotate(45deg);
}
.close::after {
    transform: rotate(-45deg);
}
.block-search-remove {
    top: 5px;
    right: 64px;
}
.lr-icon-search::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23191919' fill-rule='evenodd' d='M28.27 27.2l-6.578-6.21a10.725 10.725 0 0 0 2.817-7.242C24.51 7.82 19.69 3 13.761 3 7.82 3 3 7.82 3 13.748c0 5.929 4.82 10.749 10.748 10.749 2.601 0 4.986-.931 6.847-2.461l6.643 6.26c.14.14.331.204.51.204a.762.762 0 0 0 .548-.23.774.774 0 0 0-.026-1.07zM4.505 13.748c0-5.1 4.143-9.243 9.243-9.243 5.1 0 9.244 4.143 9.244 9.243 0 5.1-4.144 9.244-9.244 9.244s-9.243-4.144-9.243-9.244z'/%3E%3C/svg%3E");
}
.block-search-validate {
    right: 4px;
    top: 4px;
    min-width: 52px;
    height: 36px;
    cursor: pointer;
    position: absolute !important;
}
.block-search-suggestion {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 32px 8px 0px 0px;
}
ol,
ul {
    list-style: none;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
}
.block-search-suggestion ul {
    min-width: 70%;
    padding: 0px 0px 48px;
}
.block-search-suggestion ul + ul {
    margin: 16px 0px 0px;
}
.opco-message {
    position: absolute;
    inset: 0px;
    white-space: nowrap;
    line-height: 32px;
    text-align: center;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    will-change: transform, opacity;
}
.op-co-message2 {
    animation-name: second-message;
    opacity: 0;
}
@media (min-width: 768px) {
    .lr-container {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .lr-container {
        width: 976px;
    }
}
@media (min-width: 1200px) {
    .lr-container {
        width: 1176px;
    }
}
@media (min-width: 1360px) {
    .lr-container {
        width: 1352px;
    }
}
@media (min-width: 992px) {
    .header-container {
        padding-top: 13px;
    }
}
@media (min-width: 992px) {
    .header-logo {
        width: 180px;
    }
}
@media (min-width: 992px) {
    .header-icon {
        -webkit-box-ordinal-group: 1;
        order: 1;
    }
}
@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}
@media (min-width: 992px) {
    .header-icon-container {
        width: 80px;
    }
}
@media (min-width: 992px) {
    .header-icon-container {
        width: 80px;
    }
}
@media (min-width: 992px) {
    .header-icon-container {
        width: 80px;
    }
}
@media (min-width: 992px) {
    .header-icon-container .badge,
    .header-icon-container .badgeLoyalty,
    .header-icon-container .tick {
        right: 16px;
    }
}
@media (min-width: 992px) {
    .header-icon-container {
        width: 80px;
    }
}
@media (min-width: 992px) {
    .header-icon-container .badge,
    .header-icon-container .badgeLoyalty,
    .header-icon-container .tick {
        right: 16px;
    }
}
@media (min-width: 992px) {
    .flex-col-md-auto {
        width: auto;
    }
}
@media (min-width: 992px) {
    .is-desktop .header-sticky {
        border: none;
    }
}
@media (min-width: 992px) {
    .header-sticky .block-search {
        transition: width 0.2s ease 0s;
    }
}
@media (min-width: 992px) {
    .block-search {
        width: 410px;
        padding-left: 0px;
    }
}
@media (min-width: 1200px) {
    .block-search {
        width: 580px;
    }
}
@media (min-width: 992px) {
    .block-search-input {
        border-width: 0px 0px 1px;
        border-top-style: initial;
        border-right-style: initial;
        border-left-style: initial;
        border-top-color: initial;
        border-right-color: initial;
        border-left-color: initial;
        border-image: initial;
        border-bottom-style: solid;
        border-bottom-color: rgb(118, 118, 118);
    }
}
@media (min-width: 992px) {
    .block-search-suggestion {
        padding: 32px 0px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    }
}
@media (min-width: 992px) {
    .block-search-suggestion ul {
        padding: 0px;
    }
}
@media (min-width: 992px) {
    .block-search-suggestion ul {
        padding: 0px;
    }
}
@media (min-width: 992px) {
    .block-search-suggestion ul#autocompleteList {
        border-bottom: none;
    }
}
@media (min-width: 768px) {
    .lr-container {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .lr-container {
        width: 976px;
    }
}
@media (min-width: 1200px) {
    .lr-container {
        width: 1176px;
    }
}
@media (min-width: 1360px) {
    .lr-container {
        width: 1352px;
    }
}
@media (min-width: 992px) {
    .header-container {
        padding-top: 13px;
    }
}
@media (min-width: 992px) {
    .header-logo {
        width: 180px;
    }
}
@media (min-width: 992px) {
    .header-icon {
        -webkit-box-ordinal-group: 1;
        order: 1;
    }
}
@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}
@media (min-width: 992px) {
    .header-icon-container {
        width: 80px;
    }
}
@media (min-width: 992px) {
    .header-icon-container {
        width: 80px;
    }
}
@media (min-width: 992px) {
    .header-icon-container {
        width: 80px;
    }
}
@media (min-width: 992px) {
    .header-icon-container .badge,
    .header-icon-container .badgeLoyalty,
    .header-icon-container .tick {
        right: 16px;
    }
}
@media (min-width: 992px) {
    .header-icon-container {
        width: 80px;
    }
}
@media (min-width: 992px) {
    .header-icon-container .badge,
    .header-icon-container .badgeLoyalty,
    .header-icon-container .tick {
        right: 16px;
    }
}
@media (min-width: 992px) {
    .flex-col-md-auto {
        width: auto;
    }
}
@media (min-width: 992px) {
    .is-desktop .header-sticky {
        border: none;
    }
}
@media (min-width: 992px) {
    .header-sticky .block-search {
        transition: width 0.2s ease 0s;
    }
}
@media (min-width: 992px) {
    .block-search {
        width: 410px;
        padding-left: 0px;
    }
}
@media (min-width: 1200px) {
    .block-search {
        width: 580px;
    }
}
@media (min-width: 992px) {
    .block-search-input {
        border-width: 0px 0px 1px;
        border-top-style: initial;
        border-right-style: initial;
        border-left-style: initial;
        border-top-color: initial;
        border-right-color: initial;
        border-left-color: initial;
        border-image: initial;
        border-bottom-style: solid;
        border-bottom-color: rgb(118, 118, 118);
    }
}
@media (min-width: 992px) {
    .block-search-suggestion {
        padding: 32px 0px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    }
}
@media (min-width: 992px) {
    .block-search-suggestion ul {
        padding: 0px;
    }
}
@media (min-width: 992px) {
    .block-search-suggestion ul {
        padding: 0px;
    }
}
@media (min-width: 992px) {
    .block-search-suggestion ul#autocompleteList {
        border-bottom: none;
    }
}
@media screen and (min-width: 320px) and (max-width: 350px) {
    .opco-message {
        font-size: 14px;
    }
}
