body {
    padding: 0;
    margin: 0;
    /*background-color: #efefef;*/
    /* Hide scrollbars */
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}

#logo {
    top: 25px;
    left: 25px;
    height: 25px;
    z-index: 1;
}

.product.tumbnail img:hover {
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
}

.product {
    border: 100px;
    box-shadow: 0 5px 25px 0 transparent;
    transition: 0.3s linear;
    padding-top: 0;
}

.foto-produto {
    width: 320px; /* you can use % */
    height: auto;
}

#catalog {
    margin-top: 30px;
}

#catalog a {
    text-decoration: none;
    color: inherit;
}

.card {
    border: 1px solid transparent;
    border-color: #191919;
    margin: 20px;
}

.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.card-category {
    font-weight: 600;
}

.card-body * {
    font-size: 14px;
    margin: 0;
}

.price {
    font-size: 16px;
    font-weight: 600;
}
