*,
::after,
::before {
    box-sizing: border-box;
}
:not(input):not(textarea) {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(170, 170, 170, 0.5);
}
#navigationMenuMain {
    position: relative;
    z-index: 30;
    transform: none;
    border-bottom: 1px solid rgb(213, 213, 213);
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(255, 255, 255);
}
#navigationMenuMain {
    position: relative;
    z-index: 30;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border-bottom: 1px solid #d5d5d5;
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;
}
#navigationMenuMain span.menu_icon.lvl2 img {
    height: 32px;
    margin-top: -8px;
    margin-bottom: -4px;
}
#navigationMenuMain hr {
    border: none;
}
#navigationMenuMain .menu-bg {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
@media (min-width: 992px) {
    #navigationMenuMain .menu-bg {
        width: 83.33333%;
    }
}
#navigationMenuMain .menu-bg .menu-bg-lvl3 {
    min-height: 100%;
    min-width: 100%;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
}
#navigationMenuMain .menu_list {
    position: relative;
}
#navigationMenuMain .menu_list[data-lvl="2"].menu_list--isHidden {
    opacity: 0;
    display: none;
}
#navigationMenuMain .menu_list[data-lvl="2"] {
    text-align: left;
    position: absolute;
    width: 200%;
    left: -50%;
    padding-left: 50%;
    z-index: 31;
    background: #f1f1f1;
    border-top: thin solid #d5d5d5;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#navigationMenuMain .menu_item {
    cursor: pointer;
    font-size: 18px;
}
#navigationMenuMain .menu_item .menu_title {
    padding: 18px 24px;
    display: block;
    position: relative;
    white-space: nowrap;
}
#navigationMenuMain .menu_item[data-lvl="1"],
#navigationMenuMain .menu_item[data-lvl="2"] {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#navigationMenuMain .menu_item[data-lvl="1"] .menu_title,
#navigationMenuMain .menu_item[data-lvl="2"] .menu_title {
    text-align: center;
}
#navigationMenuMain .menu_item[data-lvl="1"] .menu_title::after,
#navigationMenuMain .menu_item[data-lvl="2"] .menu_title::after {
    content: "";
    display: inline-block;
    bottom: 0;
    border-bottom: 2px solid #191919;
    width: 0;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    left: 50%;
    text-align: center;
    position: absolute;
}
#navigationMenuMain .menu_item[data-lvl="1"] .menu_title--isActive::after,
#navigationMenuMain .menu_item[data-lvl="1"] .menu_title:hover::after,
#navigationMenuMain .menu_item[data-lvl="2"] .menu_title--isActive::after,
#navigationMenuMain .menu_item[data-lvl="2"] .menu_title:hover::after {
    content: "";
    bottom: 0;
    border-bottom: 2px solid #191919;
    width: 100%;
    left: 0;
}
#navigationMenuMain .menu_item[data-lvl="1"] i,
#navigationMenuMain .menu_item[data-lvl="2"] i {
    display: block;
    width: 4px;
    height: 4px;
    background-color: #191919;
    position: absolute;
    left: -2px;
    margin-right: 32px;
    margin-top: -2px;
    top: 50%;
}
#navigationMenuMain .menu_item[data-lvl="1"]:first-of-type > .menu_title > i,
#navigationMenuMain .menu_item[data-lvl="2"]:first-of-type > .menu_title > i {
    display: none;
}
#navigationMenuMain .menu_item[data-lvl="1"].muted,
#navigationMenuMain .menu_item[data-lvl="1"].mutedcsr {
    display: none;
}
#navigationMenuMain .menu_item[data-lvl="1"].highlightheavy > .menu_title {
    background-color: #dd3251;
    color: #fff;
}
#navigationMenuMain .menu_item[data-lvl="1"].highlightheavy > .menu_title i {
    display: none;
}
#navigationMenuMain .menu_item[data-lvl="1"].highlightsoft > .menu_title {
    color: #dd3251;
}
#navigationMenuMain .menu_item[data-lvl="1"].highlightsoft > .menu_title i {
    display: none;
}
body.ampm #navigationMenuMain .menu_item[data-lvl="1"].highlightheavy > .menu_title {
    background-color: #d14826;
}
body.ampm #navigationMenuMain .menu_item[data-lvl="1"].highlightsoft > .menu_title {
    color: #d14826;
}
#navigationMenuMain .menu_item #leftHitArea,
#navigationMenuMain .menu_item #rightHitArea {
    width: 32px;
    max-height: 62px;
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1000;
}
#navigationMenuMain .menu_item #leftHitArea {
    float: left;
    margin-left: -32px;
}
#navigationMenuMain .menu_item #rightHitArea {
    float: right;
    margin-right: -32px;
}
#navigationMenuMain .menu_panel {
    text-align: left;
    position: absolute;
    width: 100%;
    left: 0;
    padding-left: 0;
    z-index: 32;
    background: #fff;
    opacity: 0;
    top: 0;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    display: none;
}
#navigationMenuMain .menu_panel.open {
    opacity: 1;
    display: block;
}
#navigationMenuMain .menu_item[data-lvl="1"] .menu_panel.open {
    width: 100%;
    z-index: 31;
    border-top: thin solid #f1f1f1;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@media (min-width: 992px) {
    #navigationMenuMain .menu_item[data-lvl="1"] .menu_panel.open {
        width: 200%;
        left: -50%;
    }
}
#navigationMenuMain .menu_grid {
    margin: 0 auto;
    font-size: 14px;
    position: relative;
    max-width: 100vw;
    min-width: 100vw;
}
@media (min-width: 1200px) {
    #navigationMenuMain .menu_grid {
        min-width: auto;
    }
}
#navigationMenuMain .menu_grid .menu_link {
    padding: 10px 8px;
    font-weight: 500;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    display: block;
}
#navigationMenuMain .menu_grid .menu_column--first {
    z-index: 2;
    padding: 16px 48px 16px 8px;
}
#navigationMenuMain .menu_grid .menu_column--first .menu_link {
    padding: 10px 8px;
    border-bottom: thin solid #d5d5d5;
    border-left: 2px solid #fff;
}
#navigationMenuMain .menu_grid .menu_column--first .menu_link--isActive,
#navigationMenuMain .menu_grid .menu_column--first .menu_link:hover {
    border-left-color: #191919;
    font-weight: 700;
}
#navigationMenuMain .menu_grid .menu_column--first .menu_link--last {
    font-weight: 700;
}
#navigationMenuMain .menu_grid .menu_column--first .menu_link--misc {
    display: inline-block;
    text-decoration: underline;
    padding: 8px 8px 8px 10px;
    margin-top: 32px;
    font-weight: 700;
}
#navigationMenuMain .menu_grid .menu_column--first .menu_link--misc:hover {
    text-decoration: none;
}
#navigationMenuMain .menu_grid .menu_column--second {
    margin: 16px 0;
    position: relative;
}
#navigationMenuMain .menu_grid .menu_column--second .menu_link {
    padding: 10px 0 2px 0;
}
#navigationMenuMain .menu_grid .menu_column--second .menu_link:hover {
    font-weight: 700;
}
#navigationMenuMain .menu_grid .menu_column--second .menu_title--universe {
    font-weight: 700;
    padding: 10px 0 2px 0;
    display: inline-block;
}
#navigationMenuMain .menu_grid .menu_column--second .menu_title--universe:hover {
    text-decoration: underline;
}
#navigationMenuMain .menu_container {
    display: none;
}
#navigationMenuMain .menu_container.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#navigationMenuMain .menu_backToMainSite::before {
    content: "";
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}
#navigationMenuMain .menu_backToMainSite .menu_title {
    padding-left: 16px;
}
#navigationMenuMain .menu_backToMainSite .lr-icon {
    margin-left: -8px;
}
#navigationMenuMain .menu_backToMainSite .lr-icon::before {
    float: left;
    margin: -12px 0 -10px 0;
}
.menu_spacer {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}
#navigationMenuMain .menu_spacer + .menu_item[data-lvl="1"] i {
    display: none;
}
.lr-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.lr-container::before,
.lr-container::after {
    content: " ";
    display: table;
    width: 0px;
}
.lr-container::after {
    clear: both;
}
.navigation-menu-liner {
    border-top: 1px solid rgb(213, 213, 213);
}
ol,
ul {
    list-style: none;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-nowrap,
.flex--noWrap {
    flex-wrap: nowrap;
}
#navigationMenuMain .menu_list {
    position: relative;
}
#navigationMenuMain .menu_item {
    cursor: pointer;
    font-size: 18px;
}
a {
    color: inherit;
    text-decoration: none;
}
a:active,
a:focus,
a:hover {
    outline: none;
}
#navigationMenuMain .menu_item .menu_title {
    padding: 18px 24px;
    display: block;
    position: relative;
    white-space: nowrap;
}
img {
    border: 0px;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
#navigationMenuMain span.menu_icon.lvl2 img {
    height: 32px;
    margin-top: -8px;
    margin-bottom: -4px;
}
#navigationMenuMain .menu_panel {
    text-align: left;
    position: absolute;
    width: 100%;
    left: 0px;
    padding-left: 0px;
    z-index: 32;
    background: rgb(255, 255, 255);
    opacity: 0;
    top: 0px;
    transition: opacity 0.2s ease 0s;
    display: none;
}
.flex--guttered {
    margin-left: -8px;
    margin-right: -8px;
}
#navigationMenuMain .menu_grid {
    margin: 0px auto;
    font-size: 14px;
    position: relative;
    max-width: 100vw;
    min-width: 100vw;
}
.flex_col--4 {
    width: 33.3333%;
}
#navigationMenuMain .menu_grid .menu_column--first {
    z-index: 2;
    padding: 16px 48px 16px 8px;
}
#navigationMenuMain .menu_grid .menu_link {
    padding: 10px 8px;
    font-weight: 500;
    transition: all 0.2s ease 0s;
    display: block;
}
#navigationMenuMain .menu_grid .menu_column--first .menu_link {
    padding: 10px 8px;
    border-bottom: thin solid rgb(213, 213, 213);
    border-left: 2px solid rgb(255, 255, 255);
}
#navigationMenuMain .menu_grid .menu_column--first .menu_link--isActive,
#navigationMenuMain .menu_grid .menu_column--first .menu_link:hover {
    border-left-color: rgb(25, 25, 25);
    font-weight: 700;
}
#navigationMenuMain .menu_grid .menu_column--first .menu_link--misc {
    display: inline-block;
    text-decoration: underline;
    padding: 8px 8px 8px 10px;
    margin-top: 32px;
    font-weight: 700;
}
#navigationMenuMain .menu_grid .menu_column--first .menu_link--misc:hover {
    text-decoration: none;
}
.flex_col--8 {
    width: 66.6667%;
}
#navigationMenuMain .menu_grid .menu_column--second {
    margin: 16px 0px;
    position: relative;
}
.flex_col--6 {
    width: 50%;
}
hr {
    border-width: 1px 0px 0px;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-top-style: solid;
    border-top-color: rgb(238, 238, 238);
    height: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-sizing: content-box;
}
#navigationMenuMain hr {
    border: none;
}
.menu_spacer {
    -webkit-box-flex: 2;
    flex-grow: 2;
}
svg:not(:root) {
    overflow: hidden;
}
#navigationMenuMain .menu_item #leftHitArea,
#navigationMenuMain .menu_item #rightHitArea {
    width: 32px;
    max-height: 62px;
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1000;
}
#navigationMenuMain .menu_item #leftHitArea {
    float: left;
    margin-left: -32px;
}
#navigationMenuMain .menu_item #rightHitArea {
    float: right;
    margin-right: -32px;
}
.menu_separator {
    margin: 0px;
    width: 200%;
    left: -50%;
    position: relative;
    border-color: rgb(213, 213, 213);
}
@media (min-width: 768px) {
    .lr-container {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .lr-container {
        width: 976px;
    }
}
@media (min-width: 1200px) {
    .lr-container {
        width: 1176px;
    }
}
@media (min-width: 1360px) {
    .lr-container {
        width: 1352px;
    }
}
@media (min-width: 768px) {
    .lr-container {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .lr-container {
        width: 976px;
    }
}
@media (min-width: 1200px) {
    .lr-container {
        width: 1176px;
    }
}
@media (min-width: 1360px) {
    .lr-container {
        width: 1352px;
    }
}
@media (min-width: 768px) {
    .lr-container {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .lr-container {
        width: 976px;
    }
}
@media (min-width: 1200px) {
    .lr-container {
        width: 1176px;
    }
}
@media (min-width: 1360px) {
    .lr-container {
        width: 1352px;
    }
}
@media (min-width: 1200px) {
    #navigationMenuMain .menu_grid {
        min-width: auto;
    }
}
@media (max-width: 767px) {
    .flex--guttered > [class*="flex_col"] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 992px) {
    .flex_col--md2 {
        width: 16.6667%;
    }
}
@media (max-width: 767px) {
    .flex--guttered > [class*="flex_col"] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 992px) {
    .flex_col--md4 {
        width: 33.3333%;
    }
}
@media (max-width: 767px) {
    .flex--guttered > [class*="flex_col"] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 992px) {
    .flex_col--md2 {
        width: 16.6667%;
    }
}
@media (max-width: 767px) {
    .flex--guttered > [class*="flex_col"] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 992px) {
    .flex_col--md4 {
        width: 33.3333%;
    }
}
@media (min-width: 768px) {
    .lr-container {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .lr-container {
        width: 976px;
    }
}
@media (min-width: 1200px) {
    .lr-container {
        width: 1176px;
    }
}
@media (min-width: 1360px) {
    .lr-container {
        width: 1352px;
    }
}
@media (min-width: 1200px) {
    #navigationMenuMain .menu_grid {
        min-width: auto;
    }
}
@media (max-width: 767px) {
    .flex--guttered > [class*="flex_col"] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 992px) {
    .flex_col--md2 {
        width: 16.6667%;
    }
}
@media (max-width: 767px) {
    .flex--guttered > [class*="flex_col"] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 992px) {
    .flex_col--md4 {
        width: 33.3333%;
    }
}
@media (max-width: 767px) {
    .flex--guttered > [class*="flex_col"] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 992px) {
    .flex_col--md2 {
        width: 16.6667%;
    }
}
@media (max-width: 767px) {
    .flex--guttered > [class*="flex_col"] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 992px) {
    .flex_col--md4 {
        width: 33.3333%;
    }
}
@media (min-width: 768px) {
    .lr-container {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .lr-container {
        width: 976px;
    }
}
@media (min-width: 1200px) {
    .lr-container {
        width: 1176px;
    }
}
@media (min-width: 1360px) {
    .lr-container {
        width: 1352px;
    }
}
@media (min-width: 1200px) {
    #navigationMenuMain .menu_grid {
        min-width: auto;
    }
}
@media (max-width: 767px) {
    .flex--guttered > [class*="flex_col"] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 992px) {
    .flex_col--md2 {
        width: 16.6667%;
    }
}
@media (max-width: 767px) {
    .flex--guttered > [class*="flex_col"] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 992px) {
    .flex_col--md4 {
        width: 33.3333%;
    }
}
@media (max-width: 767px) {
    .flex--guttered > [class*="flex_col"] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 992px) {
    .flex_col--md2 {
        width: 16.6667%;
    }
}
@media (max-width: 767px) {
    .flex--guttered > [class*="flex_col"] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 992px) {
    .flex_col--md4 {
        width: 33.3333%;
    }
}
@media (min-width: 768px) {
    .lr-container {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .lr-container {
        width: 976px;
    }
}
@media (min-width: 1200px) {
    .lr-container {
        width: 1176px;
    }
}
@media (min-width: 1360px) {
    .lr-container {
        width: 1352px;
    }
}
@media (min-width: 1200px) {
    #navigationMenuMain .menu_grid {
        min-width: auto;
    }
}
@media (max-width: 767px) {
    .flex--guttered > [class*="flex_col"] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 992px) {
    .flex_col--md2 {
        width: 16.6667%;
    }
}
@media (max-width: 767px) {
    .flex--guttered > [class*="flex_col"] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 992px) {
    .flex_col--md4 {
        width: 33.3333%;
    }
}
@media (max-width: 767px) {
    .flex--guttered > [class*="flex_col"] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 992px) {
    .flex_col--md2 {
        width: 16.6667%;
    }
}
@media (max-width: 767px) {
    .flex--guttered > [class*="flex_col"] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 992px) {
    .flex_col--md4 {
        width: 33.3333%;
    }
}
@media (min-width: 768px) {
    .lr-container {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .lr-container {
        width: 976px;
    }
}
@media (min-width: 1200px) {
    .lr-container {
        width: 1176px;
    }
}
@media (min-width: 1360px) {
    .lr-container {
        width: 1352px;
    }
}
@media (min-width: 1200px) {
    #navigationMenuMain .menu_grid {
        min-width: auto;
    }
}
@media (max-width: 767px) {
    .flex--guttered > [class*="flex_col"] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 992px) {
    .flex_col--md2 {
        width: 16.6667%;
    }
}
@media (max-width: 767px) {
    .flex--guttered > [class*="flex_col"] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 992px) {
    .flex_col--md4 {
        width: 33.3333%;
    }
}
@media (max-width: 767px) {
    .flex--guttered > [class*="flex_col"] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 992px) {
    .flex_col--md2 {
        width: 16.6667%;
    }
}
@media (max-width: 767px) {
    .flex--guttered > [class*="flex_col"] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 992px) {
    .flex_col--md4 {
        width: 33.3333%;
    }
}
